@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1005px;
  margin: 0 auto;
}

.header {
  padding: 23px 52px;
  background: #152040;
}

.header__burger {
  display: none;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.header__logo h2 {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  width: 150px;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.header__link {
  font-size: 13px;
  color: #ffffff;
  font-weight: 400;
  padding: 14px 12px;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__link:hover {
  background: #ffffff;
  color: #152040;
}

.header__lang span {
  font-size: 9px;
  color: #ffffff;
  font-weight: 400;
}

@media screen and (max-width: 905px) {
  .header__nav {
    display: none;
  }
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.dropdown__menu {
  position: absolute;
  display: none;
  background: rgba(21, 32, 64, 0.8);
  padding: 10px 5px;
  width: 91%;
  top: 32px;
  text-align: center;
}

.dropdown__menu a {
  padding: 6px;
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
  line-height: 10px;
}

.dropdown__menu a:hover {

}

.burger__menu {
  display: none;
  position: absolute;
  background: #152040;
  width: 100%;
  left: 0;
  top: 100px;
}

.burger__open {
  cursor: pointer;
}

.burger__open.active {
  display: none;
  z-Index:999;
}

.burger__open.active ~ .burger__close {
  display: block;
}

.burger__open.active ~ .burger__menu {
  display: block;
}

.burger__close {
  cursor: pointer;
  display: none;
}

.burger__item {
  padding-bottom: 25px;
  padding-left: 34px;
  padding-right: 34px;
  margin-top: 25px;
  border-bottom: 1px solid #FFFFFF;
}

.burger__item:last-child {
  border-bottom: transparent;
}

.burger__link {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger__dropdown {
  margin-top: 30px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 19px;
}

.burger__dropdown.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger__suplink {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
}

.burger img.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 905px) {
  .burger {
    display: block;
  }
}

.hero {
  background: url(../assets/img/hero-bg.png) no-repeat center;
  background-size: cover;
  -webkit-box-shadow: 0px -450px 500px 0px rgba(0, 0, 0, 0.8) inset;
          box-shadow: 0px -450px 500px 0px rgba(0, 0, 0, 0.8) inset;
}

.hero__content {
  padding-top: 235px;
  padding-bottom: 143px;
  padding-left: 20px;
  padding-right: 20px;
}

.hero h1 {
  font-size: 58px;
  color: #fff;
  font-weight: 700;
}

.hero h1 span {
  color: #ffaa00;
}

.hero__bottom {
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__bottom button {
  border: 1px solid #ffffff;
  padding: 11px 86px;
  background: transparent;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1.4px;
}

.hero__bottom label {
  border: 1px solid #ffffff;
  padding: 11px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__bottom label input {
  background: transparent;
  border: none;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1.4px;
  outline: none;
  width: 290px;
}

.hero__bottom label svg {
  margin-left: 5px;
}

@media screen and (max-width: 646px) {
  .hero__bottom {
    display: none;
  }
}

@media screen and (max-width: 412px) {
  .hero h1 {
    font-size: 31px;
    line-height: 29px;
  }
}

.description {
  background: #153695;
  padding: 92px 62px 44px 62px;
}

.description h2 {
  font-size: 44px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 86px;
}

.description p {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  line-height: 22px;
  max-width: 877px;
  margin: 10px auto;
  position: relative;
}

.description ol {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  line-height: 22px;
  max-width: 877px;
  margin: 10px auto;
  position: relative;
}


.description ul {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  line-height: 22px;
  max-width: 877px;
  margin: 10px auto;
  position: relative;
}

.features {
  background: #3E5BAC;
  padding-top: 88px;
  padding-bottom: 54px;
}

.features__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
}

.features .item {
  width: 284px;
  position: relative;
}

.features .item h2 {
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 700;
  letter-spacing: 1.4px;
  width: 165px;
  text-align: center;
  z-index: 2;
}

.features .item__top {
  height: 211px;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features .item__top img {
  max-width: 100%;
  position: absolute;
  z-index: 0;
}

.features .item__bottom {
  background: #153695;
  padding: 25px 45px;
  text-align: center;
}

.features .item__bottom button {
  border: 1px solid #FFFFFF;
  background: transparent;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 400;
  letter-spacing: 1.4px;
  padding: 11px 50px;
}

.news {
  background: #153695;
  padding-top: 88px;
  padding-bottom: 54px;
}

.news__title {
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 39px;
}

.news .item {
  width: 284px;
  position: relative;
}

.news .item h2 {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1.4px;
  width: 165px;
  text-align: center;
  z-index: 2;
}

.news .item__top {
  height: 211px;
  width: 100%;
  overflow: hidden;
}

.news .item__top img {
  max-width: 100%;
}

.news .item__bottom {
  background: #6363f5;
  padding: 13px 19px;
}

.news .item__bottom p {
  font-size: 13px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 7px;
}

.news .item__bottom a {
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
}

.news button {
  border: 1px solid #ffffff;
  background: transparent;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1.4px;
  padding: 11px 50px;
}

.news__bottom {
  margin-top: 39px;
  text-align: center;
}

.news .swiper {
  padding-bottom: 40px;
}

.news .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
}

.news .swiper-pagination-bullet-active {
  background: #D9D9D9;
}

@media screen and (max-width: 840px) {
  .news .swiper {
    width: 284px;
    margin: 0 auto;
  }
}

.partners {
  background: #3E5BAC;
  padding-top: 39px;
  padding-bottom: 61px;
}

.partners h2 {
  font-size: 44px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  margin-bottom: 86px;
}

.partners__content {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.partners__item {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 52px;
}

.partners__item img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 646px) {
  .partners__content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.subscribe {
  background: url(../assets/img/subscribe-bg.png) no-repeat;
  background-size: cover;
  padding: 56px 43px;
}

.subscribe__content {
  background: #153695;
  padding: 53px 62px;
  max-width: 642px;
  margin: 0 auto;
}

.subscribe__content h2 {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.subscribe__content p {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  line-height: 26px;
  margin-top: 16px;
}

.subscribe__content form {
  margin-top: 28px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  row-gap: 43px;
  -webkit-column-gap: 39px;
          column-gap: 39px;
}

.subscribe__content form label {
  font-size: 11px;
  color: #fff;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__content form input {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #ffffff;
  font-size: 11px;
  color: #fff;
  font-weight: 400;
  height: 31px;
  width: 100%;
}

.subscribe__content form button {
  background: #ffffff;
  border: 1px solid #5f7acb;
  padding: 11px 79px;
  font-size: 11px;
  color: #153695;
  font-weight: 700;
}

@media screen and (max-width: 589px) {
  .subscribe h2 {
    font-size: 14px;
  }
  .subscribe p {
    font-size: 10px;
    line-height: 26px;
  }
  .subscribe__content form {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .subscribe__content form label {
    width: 70%;
    margin: 0 auto;
  }
  .subscribe__content form button {
    width: 214px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .subscribe {
    background: #3E5BAC;
  }
}

@media screen and (max-width: 401px) {
  .subscribe__content {
    padding: 40px 24px;
  }
}

.map {
  width: 100%;
  height: 360px;
}

.about {
  background: url(../assets/img/about-bg.png) no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0px -450px 500px 0px rgba(0, 0, 0, 0.8) inset;
          box-shadow: 0px -450px 500px 0px rgba(0, 0, 0, 0.8) inset;
}

.about__content {
  padding-top: 235px;
  padding-bottom: 143px;
  padding-left: 20px;
  padding-right: 20px;
}

.about h1 {
  font-size: 58px;
  color: #fff;
  font-weight: 700;
}

.about h1 span {
  color: #ffaa00;
}

.about__bottom {
  margin-top: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__bottom button {
  border: 1px solid #ffffff;
  padding: 11px 86px;
  background: transparent;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1.4px;
}

.about__bottom label {
  border: 1px solid #ffffff;
  padding: 11px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__bottom label input {
  background: transparent;
  border: none;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1.4px;
  outline: none;
  width: 290px;
}

.about__bottom label svg {
  margin-left: 5px;
}

@media screen and (max-width: 646px) {
  .about__bottom {
    display: none;
  }
}

@media screen and (max-width: 412px) {
  .about h1 {
    font-size: 31px;
    line-height: 29px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__connect {
  padding-top: 49px;
  padding-bottom: 81px;
  width: 50%;
  background: #153695;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__connect h2 {
  font-size: 31px;
  color: #ffba33;
  font-weight: 700;
  margin-bottom: 22px;
}

.footer__form {
  padding-top: 33px;
  padding-bottom: 79px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__form h2 {
  font-size: 31px;
  color: #153695;
  font-weight: 700;
}

.footer__form form {
  max-width: 387px;
}

.footer__form form div {
  display: -ms-grid;
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 7px;
          column-gap: 7px;
}

.footer__form form label {
  margin-top: 15px;
  font-size: 11px;
  color: #080808;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__form form label input {
  margin-top: 6px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #080808;
}

.footer__form form textarea {
  margin-top: 13px;
  font-size: 11px;
  color: #080808;
  font-weight: 400;
  width: 100%;
  height: 150px;
  resize: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #080808;
}

.footer__form form button {
  margin-top: 8px;
  background: transparent;
  border: 1px solid #153695;
  font-size: 11px;
  color: #080808;
  font-weight: 400;
  width: 100%;
  padding: 12px 0;
}

.footer__item {
  margin-bottom: 20px;
}

.footer__item h2,
.footer__item a {
  font-size: 11px;
  color: #ffffff;
  font-weight: 700;
}

.footer__item p {
  font-size: 11px;
  color: #ffffff;
  font-weight: 400;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}

@media screen and (max-width: 767px) {
  .footer {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .footer__connect, .footer__form {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */