{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
        <section class="hero" style="background: url({{ news.image.url }}) no-repeat center;">
            <div class="container">
                <div class="hero__content">
                    <h1 class="hero__title">
                        {{ news.title }}
                    </h1>

                <div class="hero__bottom">

                    </div>
                </div>

            </div>
        </section>

        <section class="description">
            <div style="margin: 10px auto;">
<!--                {{ news.body|safe }}-->

<p>{{ news.body }}</p>

            </div>
        </section>


{% endblock %}