<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форум</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
<style>
    a {
    text-decoration: none;
}
</style>
    <header class="header">
        <div class="header__content">
            <a href="{% url 'home' %}" class="header__logo">
                <img src="{% static './media/icons/logo.svg' %}" alt="logo" style="width: 85px">
<!--                <img src="./media/icons/logo.svg" alt="logo">-->
                <h2 style="font-size: 20px; width: 250px;">"Муса Рыскулбеков атындагы КЭУ" </h2>
            </a>

            <nav class="header__nav">

                {% for i in documents %}
                <div class="header__item">
                    {% if i.file %}
                    <a class="header__link" href="{{ i.file.url }}">{{ i.title }}</a>
                    {% else %}
                    <a class="header__link" href="{{ i.url }}">{{ i.title }}</a>
                    {% endif %}
                </div>
                {% endfor %}
            </nav>

            <div class="header__burger burger">
                <svg class="burger__open" width="28" height="23" viewBox="0 0 28 23" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <rect width="28" height="5" rx="2.5" fill="white" />
                    <rect y="9" width="28" height="5" rx="2.5" fill="white" />
                    <rect y="18" width="28" height="5" rx="2.5" fill="white" />
                </svg>
                <svg class="burger__close" width="23" height="23" viewBox="0 0 23 23" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.12256 20.7197L20.6001 2.5" stroke="white" stroke-width="4" stroke-linecap="round" />
                    <path d="M2.12258 2.78027L20.6001 21" stroke="white" stroke-width="4" stroke-linecap="round" />
                </svg>

                <div class="burger__menu">
                    <div class="burger__item">
                        <a href="{% url 'home' %}" class="burger__link">Home</a>
                    </div>
                    <div class="burger__item dropdown">
                        <div class="burger__link">
                            About KEU

<!--                            <img src="./media/icons/arrow.svg" alt="arrow">-->
                        </div>


                    </div>
                    <div class="burger__item">
                        <a href="#" class="burger__link">News</a>
                    </div>
                    <div class="burger__item dropdown">
                        <div class="burger__link">
                            <a href="#" class="burger__link">Academic Programs</a>


<!--                            <img src="./media/icons/arrow.svg" alt="arrow">-->
                        </div>

                    </div>
                    <div class="burger__item dropdown">
                        <div class="burger__link">
                            <a href="#" class="burger__link">International projects</a>
<!--                            <img src="./media/icons/arrow.svg" alt="arrow">-->
                        </div>

                    </div>
                    <div class="burger__item dropdown">
                        <div class="burger__link">
                            About
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


<main>
        <section class="hero" >
            <div class="container">
                <div class="hero__content" style="    padding-top: 108px;">
                    <h1 class="hero__title" style="font-size: 33px;">
                        <span>"Экономикалык реалдуулуктун жаны чакырыктары"</span><br />Эл аралык илимий-практикалык конференциясына
                    </h1>
                    <style>
                        .timer__items {
  display: flex;
  font-size: 74px;
}
.timer__item {
  position: relative;
  min-width: 60px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 15px;
  text-align: center;
}
.timer__item::before {
  content: attr(data-title);
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-size: 14px;
}
.timer__item:not(:last-child)::after {
  content: ':';
  position: absolute;
  right: -15px;
}
                    </style>
                    <div class="timer" style="color: white;">
                      <div class="timer__items" style="justify-content: center;
    padding-top: 107px;">
                        <div class="timer__item timer__days">00</div>
                        <div class="timer__item timer__hours">00</div>
                        <div class="timer__item timer__minutes">00</div>
                        <div class="timer__item timer__seconds">00</div>
                      </div>
                    </div>
                </div>
            </div>
        </section>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
  // конечная дата, например 1 июля 2021
  const deadline = new Date(2023, 09, 25, 09);
  // id таймера
  let timerId = null;
  // склонение числительных
  function declensionNum(num, words) {
    return words[(num % 100 > 4 && num % 100 < 20) ? 2 : [2, 0, 1, 1, 1, 2][(num % 10 < 5) ? num % 10 : 5]];
  }
  // вычисляем разницу дат и устанавливаем оставшееся времени в качестве содержимого элементов
  function countdownTimer() {
    const diff = deadline - new Date();
    if (diff <= 0) {
      clearInterval(timerId);
    }
    const days = diff > 0 ? Math.floor(diff / 1000 / 60 / 60 / 24) : 0;
    const hours = diff > 0 ? Math.floor(diff / 1000 / 60 / 60) % 24 : 0;
    const minutes = diff > 0 ? Math.floor(diff / 1000 / 60) % 60 : 0;
    const seconds = diff > 0 ? Math.floor(diff / 1000) % 60 : 0;
    $days.textContent = days < 10 ? '0' + days : days;
    $hours.textContent = hours < 10 ? '0' + hours : hours;
    $minutes.textContent = minutes < 10 ? '0' + minutes : minutes;
    $seconds.textContent = seconds < 10 ? '0' + seconds : seconds;
    $days.dataset.title = declensionNum(days, ['день', 'дня', 'дней']);
    $hours.dataset.title = declensionNum(hours, ['час', 'часа', 'часов']);
    $minutes.dataset.title = declensionNum(minutes, ['минута', 'минуты', 'минут']);
    $seconds.dataset.title = declensionNum(seconds, ['секунда', 'секунды', 'секунд']);
  }
  // получаем элементы, содержащие компоненты даты
  const $days = document.querySelector('.timer__days');
  const $hours = document.querySelector('.timer__hours');
  const $minutes = document.querySelector('.timer__minutes');
  const $seconds = document.querySelector('.timer__seconds');
  // вызываем функцию countdownTimer
  countdownTimer();
  // вызываем функцию countdownTimer каждую секунду
  timerId = setInterval(countdownTimer, 1000);
});
    </script>

    </main>


    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{% static './js/index.js' %}"></script>

</body>

</html>


