{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
        <section class="hero" >
            <div class="container">
                <div class="hero__content">
                    <h1 class="hero__title">
                        <span>SRU KEU</span> – Scientific Research Kyrgyz Economic University <br />  named after Musa Ryskulbekov
                    </h1>

                    <div class="hero__bottom">

                    </div>
                </div>
            </div>
        </section>

        <section class="description">
            <p style="font-size: 20px;">
                SRU KEU aims to provide a multi-level education in line with international standards, emphasizing the quality and preparation of highly qualified specialists required to support innovation-oriented strategies for economic growth. Our goal is to cultivate new knowledge, skills, and professional competencies that can be effectively applied in entrepreneurial activities and production.”
            </p>
        </section>

        <section class="features">
            <div class="container">
                <div class="features__content">
                    <div class="features__item item">
                        <div class="item__top">
                            <img src="{% static './assets/img/features-img-1.png' %}" alt="features-img">
                            <h2 class="item__title">Academic Programs</h2>
                        </div>
                        <div class="item__bottom">
                            <a href="{% url 'programs' %}"><button>
                                About
                            </button></a>
                        </div>
                      </div>
                      <div class="features__item item">
                        <div class="item__top">
                            <img src="{% static './assets/img/features-img-2.png' %}" alt="features-img">
                            <h2 class="item__title">International projects</h2>
                        </div>
                        <div class="item__bottom">
                            <a href="{% url 'projects' %}"><button>
                                About
                            </button></a>
                        </div>
                      </div>
                        {% for i in pages %}
                      <div class="features__item item">
                        <div class="item__top">
                            <img src="{{ i.image.url }}" alt="features-img">
                            <h2 class="item__title">{{ i.title }}</h2>
                        </div>
                        <div class="item__bottom">
                            <a href="{% url 'page_detail' i.pk %}"><button>
                                About
                            </button></a>
                        </div>
                      </div>
                        {% endfor %}

                </div>
            </div>
        </section>

        <section class="news">
            <h2 class="news__title">NEWS</h2>
            <div class="container">
                <div class="news__content">
                    <div class="swiper">
                        <div class="swiper-wrapper" style="padding-left: 80px;">
                            {% for i in news %}
                                    <div class="swiper-slide">
                                            <div class="news__item item">
                                                <div class="item__top">
                                                    <img src="{{ i.image.url }}" alt="news-img">
                                                </div>
                                                <div class="item__bottom">
                                                    <p>
                                                        {{ i.title }}
                                                    </p>
                                                    <i>
                                                        <a href="{% url 'detail_news' i.pk %}">Read More</a>
                                                    </i>
                                                </div>
                                            </div>
                                        </div>
                            {% endfor %}
                        </div>

                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
            <div class="news__bottom">
                <a href = "{% url 'news' %}"><button>All news</button></a>
            </div>
        </section>
         <section class="partners">
            <h2 class="partners__title">Our partners</h2>
            <div class="container">
                <div class="partners__content">

                    <div class="partners__item">
                     <img src="https://hr.kimep.kz/Images/logo2b.png" alt="">
                   </div>
                    <div class="partners__item">
                     <img src="https://www.auth.gr/wp-content/uploads/banner-horizontal-black-en.png" alt="">
                   </div>
                </div>
            </div>
        </section>
{% endblock %}
