{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>

        <section class="features">
            <div class="container">
                <div class="features__content">
                    {% for i in news %}
                    <div class="features__item item">
                        <div class="item__top">
                            <img src="{{ i.image.url }}" alt="features-img">
                            <h2 class="item__title">{{ i.title  }}</h2>
                        </div>
                        <div class="item__bottom">
                            <a href="{% url 'detail_news' i.pk %}"><button>
                                About
                            </button></a>
                        </div>
                      </div>
                    {% endfor %}

                </div>
            </div>
        </section>


{% endblock %}