{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
        <section class="hero" style="background: url({{ program.image.url }}) no-repeat center; background-size: cover">
            <div class="container">
                <div class="hero__content">
                    <h1 class="hero__title">
                        {{ program.title }}
                    </h1>

                    <div class="hero__bottom">

                    </div>
                </div>

            </div>
        </section>

        <section class="description">
            <div style="margin: 10px auto; color: white !important">
                {{ program.body|safe }}
            </div>
        </section>


{% endblock %}