{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
        <section class="hero">
            <div class="container">
                <div class="hero__content">
                    <h1 class="hero__title">
                        International projects
                    </h1>


                </div>
            </div>
        </section>

        <section class="description">
            <p>
                NRU KEU aims to provide a multi-level education in line with international standards, emphasizing the quality and preparation of highly qualified specialists required to support innovation-oriented strategies for economic growth. Our goal is to cultivate new knowledge, skills, and professional competencies that can be effectively applied in entrepreneurial activities and production.
            </p>
        </section>

        <section class="features">
            <div class="container">
                <div class="features__content">
                    {% for i in programs %}
                    <div class="features__item item">
                        <div class="item__top">
                            <img src="{{ i.image.url }}" alt="features-img">
                            <h2 class="item__title">{{ i.title  }}</h2>
                        </div>
                        <div class="item__bottom">
                            <a href="{% url 'program_detail' i.pk %}"><button>
                                About
                            </button></a>
                        </div>
                      </div>
                    {% endfor %}

                </div>
            </div>
        </section>


{% endblock %}