$text-white: #FFFFFF;
$text-darkBlue: #152040;
$text-blue: #153695;
$text-yellow: #FFBA33;
$text-dark: #080808;

$bg-blue: #153695;
$bg-white: #fff;
$bg-lightBlue: #3E5BAC;
$bg-lighterBlue: #6363F5;

