.description {
    background: #153695;
    padding: 92px 62px 44px 62px;
    height: 439px;
    display: flex;
    align-items: center;

    p {
        @include font(16px, #ffffff);
        line-height: 22px;
        max-width: 877px;
        margin: 0 auto;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            border-top: 1px solid #bdbdbd;
            width: 34%;
            bottom: -40px;
        }
    }
}
